# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Ll]ibrary/
sysinfo.txt
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
.vs
Icon?
ehthumbs.db
[Tt]humbs.db
# ================ #
# Project Specific #
# ================ #
/VR.PoC_UnityProj/Build